body {
  font-family: sans-serif;
  background-color: #ff0000;
  font-family: "Iceland", cursive;
}

.searchBar {
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
  border-radius: 8px 8px 8px 8px;
}

label {
  font-size: 1.3rem;
  padding-right: 20px;
}

input[type=text] {
  height: 40px;
  padding-left: 10px;
  font-family: "Iceland", cursive;
}

#pokeOutput {
  padding: 20px 50px 30px;
  display:  none;
}

#pokeImage {
  display: block;
  margin: 0px 0;
  width: 200px;
  position: center;
  left: -45px;
}

.base-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.stat {
  font-weight: 700;
}

.poke-name-num {
  display: inline-block;
  float: left;
  margin-left: 5px;
}

.size {
  display: inline-block;
  float: right;
  margin-right: 5px;
}

.name {
  display: block;
  text-transform: capitalize;
  font-size: 2.6rem;
}

.poke-info {
  display: inline-block;
  margin-right: 2px;
}

.container {
  width: 450px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  color: #000;
  border-radius: 15px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
}

button:hover {
  border: 2px solid #e8332a;
}

button:active {
  background-color: #f4f1f1;
}

.bigBtn {
  height: 40px;
  width: 120px;
  font-weight: 700;
  position: relative;
  top: -2px;
}

.changeBtn {
  height: 40px;
  width: 54px;
  font-size: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.2rem;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
}

.pokeType {
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  text-transform: capitalize;
  margin-left: 5px;
  font-weight: 700;
}

.normale {
  background-color: #a8a878;
}

.erba {
  background-color: #78c850;
}

.terra {
  background-color: #e0c068;
}

.lotta {
  background-color: #c03028;
}

.roccia {
  background-color: #b8a038;
}

.acciaio {
  background-color: #b8b8d0;
}

.fuoco {
  background-color: #f08030;
}

.electrico {
  background-color: #f8d030;
}

.volante {
  background-color: #a890f0;
}

.psico {
  background-color: #f85888;
}

.insetto {
  background-color: #a8b820;
}

.drago {
  background-color: #7038f8;
}

.acqua{
 background-color: #6890f0; 
}

.ghiaccio {
  background-color: #98d8d8;
}

.veleno {
  background-color: #a040a0;
}

.ombra {
  background-color: #705848;
}

.fantasma {
  background-color: #705898;
}

.folletto {
  background-color: #ffaec9;
}